templates/lab8/Semployee.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="employee">
<xs:complexType>
<xs:all>
<xs:element name="name" type="xs:string"/>
<xs:element name="phone-no" type="xs:integer"/>
<xs:element name="salary" type="xs:decimal"/>
</xs:all>
</xs:complexType>
</xs:element>
</xs:schema>
